{{ partial "single_head.html" . }}
	<body class="page-body boxed-container">
		<nav class="navbar horizontal-menu navbar-fixed-top">
			<div class="navbar-inner">
				<div class="navbar-brand">
					<a href="../index.html" class="logo">
						{{ if hasPrefix $.Site.Params.images.logoExpandLight "http" }}
						<img src="{{ $.Site.Params.images.logoExpandLight }}" width="100%" alt="" class="hidden-xs"> {{ else }}
						<img src="{{ $.Site.Params.singlePath }}/{{ $.Site.Params.images.logoExpandLight }}" width="100%" alt="" class="hidden-xs"> {{ end }}
					</a>
				</div>
				<div class="navbar-mobile-clear"></div>
				<a href="{{ $.Site.Params.repository }}" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="{{ $.Site.Params.singlePath }}/assets/images/forkme_on_github_right_darkblue.png" alt="Fork me on GitHub"></a>
			</div>
		</nav>
		<div class="page-container">
			<!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			<div class="main-content" >
				<div class="row" style="height: 800px;">
					<div class="col-md-12">
						<div class="panel panel-default">
							<h1 class="text-gray">{{ .Title }}</h1>
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-12" style="height: 100%;">
										{{ .Content | safeHTML }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

	<!-- Main Footer -->
{{ partial "single_foot.html" . }}
